
a {
    font-family: helvetica;
    font-weight: 400;
    
}
.navbar{
   
    display: flex;
    position: relative;
    top: 20px;
    font-family: helvetica;
}


#nav{
   
    width: 50rem;
}



div{
    margin-bottom: 2vh;
}





  
